body {

  box-sizing: border-box;
  background: lighten($lightBeige,10%);
  color: $darkBeige;
  font: 1rem;
  font-family: Georgia,Times,Times New Roman,serif;
  font-weight: 400;
  line-height: 1.3;
  overflow-y: scroll;
};

h1, h2, h3, h4, h5, h6 {

  font-weight:100;

}



.header {
  position: fixed;
  z-index: 4;
  box-shadow: 0 0 15px $darkBeige;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 6rem;
  background-color: darken($lightBeige, 10%);
  // #img {
  //   height:20px;
  // }
  button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    margin: 0 15px;

    h4 {
      font: 10px Copperplate, Papyrus, fantasy;
    }

    ;
  }

  ;

  .headerRight {
    top: 0.6rem;
    right: 1rem;
    position: fixed;
    padding: 1.5%;
    font-size: 33px;
    text-align: right;
    display: flex;
  }

  ;

  .headerLeft {
    top: 0.5rem;
    right: 6rem;
    position: fixed;
    padding: 1.5%;
    font-size: 30px;
    text-align: left;
    display: flex;

  }

  ;
}

;



button:hover {
  color: lighten($darkBeige, 20%);
}

;


.footer {
  position: relative;
  bottom: -5rem;
  left: -5rem;
  width: 90%;
  height: 20rem;
  padding: 4rem;
  padding-left: 8rem;
  padding-right: 8rem;
  box-shadow: 0 0 15px $darkBeige;
  background-color: lighten($darkBeige, 5%);
  color: lighten($darkGrey, 20%);
  font-family: Georgia,Times,Times New Roman,serif;
  font-weight:lighter;
  line-height: 1.5;
  font-size: 15px;
  padding-bottom: 0.5rem;
  display:flex;
  flex-direction:row;
  #title{
    font-size: 20px;
  }
  .footerLeft{
    text-align: left;
    padding-left: 3rem;
  }
  .footerRight{
    position: absolute;
    text-align: right;
    right: 10rem;
  }
  img{
    position: relative;

    padding-left: 7rem;
    height: 100%;
  }
}

.innerBody {
  top: 6.5rem;
  position: relative;
  // min-height: 100vh;
  margin: 0% 5%;
  padding-bottom: 15rem;
  display: flex;
  flex-direction: column;
  
 
}

.welcomeText {
  text-align: center;
  #title{
    font-size: 35;
    color: $darkBeige;
  }
  color: lighten($darkGrey, 15%);
  font-family: Georgia,Times,Times New Roman,serif;
  font-weight:lighter;
  line-height: 1.5;
  font-size: 20px;
  padding-bottom: 0.5rem;
}

.RecipeContainer {
  // top: 8rem;
  margin: 1rem 1rem;
  height: 20rem;
  position: relative;
  padding-bottom: 4rem;
}

;

.RecipeBox {
  min-height: 20rem;
  overflow: hidden;

  img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  ;

  .overFlow {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(24, 9, 9, 0.733));
    border-radius: 1rem;
  }

  p {
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
    font: small-caps 24px Copperplate, Papyrus, fantasy;
    letter-spacing: 2px;
    color: $lightBeige;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ;
}

;

// .icons {
//   display: flex;
//   justify-content: left;
//   text-align: center;
//   margin: 2rem 0rem;
//   text-transform: uppercase;
//   font: 10px Copperplate, Papyrus, fantasy;
// };
// .icon {
//   width: 90px;
//   height: 60px;
//   margin: 10px;
//   text-align: center;
//   font-size: 30px;
//   line-height: 1.5;
//   h4 {
//     font-size: 10px;
//   }
// }



input {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}



.SearchBox {
  
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  padding-bottom: 0rem;
  input::placeholder {
    font-family: 'Lucida Typewriter', monospace;
    font-size: 0.8rem;
    text-align: left;
    padding-left: 1rem;
    opacity: 0.5;
    color: darken($lightBeige, 20%);
}
  input:active{
    border: darken($lightBeige, 25%) ridge 2px;
  }
  input{
    border: black ridge 1px;
    border-radius: 20px;
    width: 20rem;
    height: 2.5rem;
    text-align: center;
    background: $lightGrey;
    font-size: 0.9rem;
    text-align: left;
    padding-left:1rem;
  }
  
  #icon:hover{
    background: lighten($darkBeige, 30%)
  }
  #icon{
    height: 30px;
    width: 30px;
    background: lighten($darkBeige, 10%);
    color: $lightBeige;
    border-radius: 20px;
    font-size: 50px;
    box-shadow: 0 0 5px $darkBeige;
    
  }
  
}

.RecipeForm {
  top: 6.5rem;
  // border: 1px solid $darkBeige;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 12rem;
  margin: 0% 5%;
  color: lighten($lightBeige,20%);
  .MainForm {
    border: 3px solid $darkGrey;
    border-radius: 10px;
    background-color: darken($lightGrey,20%);
    box-shadow: 0 0 100px darken($lightBeige,50%);
    padding: 3rem 5rem;
    margin: 1rem 5rem;
    
    input{
      // box-sizing: border-box;
      flex:40%;
      border-radius: 0.3rem;
    }
    form{
      display: flex;
      flex-wrap: wrap;
    }
    input[type="submit"]{
      margin-top: 3rem;
      background-color: $darkBeige;
      color:$lightBeige;
    }
  }
}

.allRecipesContainer{
  margin: 2em;
  h2{
    padding-bottom:2rem;
    padding-left:2rem;
    width: 100%;
  }
  padding-top: 7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  
  
    // width: 25%;
    // padding-bottom: 25%;
    // float: left;
    // height: 0;
  .recipe {

    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
    flex: 1;
    min-width: 15rem;
    img {
      position: relative;
      max-width: 300px;
      border-radius: 1rem;
      filter: opacity(90%);
      filter: sepia(10%);
    }
    img:hover{
      filter: opacity(70%);
    }
  }
  

  p {
    position: relative;
    z-index: 3;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, 0%);
    font: small-caps 24px Copperplate, Papyrus, fantasy;
    letter-spacing: 2px;
    color: $lightBeige;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    height: 10%;
  }
  p span {
    background-color: darken($darkGrey, 15%);
    border-radius: 0.3rem;
    position: relative;
    justify-content: center;
    align-items: center;
  }
}